Repository Pradeep-selva/breaddit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-client, prod-hosting

deploy-client:
  stage: deploy
  image: node:12.13.0-alpine
  before_script:
  - npm i -g firebase-tools
  script:
  - cd client
  - npm install
  - rm -rf build/
  - npm run build
  - echo $FIREBASE_TOKEN
  - firebase deploy --token $FIREBASE_TOKEN
  environment:
    name: production
    url: https://breadddit.web.app/

prod-hosting:
  stage: deploy
  image: python:2.7
  before_script:
  - echo "deb http://packages.cloud.google.com/apt cloud-sdk-jessie main" | tee /etc/apt/sources.list.d/google-cloud-sdk.list
  - curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
  - apt-get update
  ...

debugging gitlab ci for server
  .gitlab-ci.yml
  server/controllers/common.go
Due: prod-hosting

debugging gitlab ci for server
  .gitlab-ci.yml
Due: none

added gcd app engine go installation in gitlab ci
  .gitlab-ci.yml
  server/controllers/common.go
Due: prod-hosting

added gcd app engine go installation in gitlab ci
  server/controllers/common.go
Due: prod-hosting

gcd permissions change for gitlab ci
  server/controllers/common.go
Due: prod-hosting

removed backend ci
  .gitlab-ci.yml
Due: none

removed dist
  .DS_Store
Due: none

navbar profile page redirect
  client/src/Components/NavbarUserButton/container.tsx
Due: deploy-client

fixed post card issue
  client/src/Components/PostCard/container.tsx
  client/src/Components/PostCard/styles.ts
  client/src/Pages/Subreaddit/container.tsx
  client/src/Pages/User/container.tsx
Due: deploy-client

length limits and indications on AddPost
  client/src/Components/AddPost/container.tsx
  client/src/Components/AddPost/schema.ts
  client/src/Components/BoxedTextField/index.tsx
  client/src/Components/PostCard/container.tsx
Due: deploy-client

PostCard style changes
  client/src/Components/PostCard/styles.ts
Due: deploy-client

Create sub feature
  client/src/Components/CreateSub/index.tsx
  client/src/Components/CreateSub/schema.ts
  client/src/Components/CreateSub/styles.ts
  client/src/Components/Navbar/container.tsx
  client/src/Components/NotificationBadge/container.tsx
  client/src/Components/index.ts
Due: deploy-client

Minor code change in create sub api
  server/controllers/subs.go
Due: prod-hosting

Minor code fixes and page reload on add or delete post from sub page
  client/src/Components/AddPost/container.tsx
  client/src/Components/CreateSub/index.tsx
  client/src/Components/DetailCard/index.tsx
  client/src/Components/PostCard/container.tsx
  client/src/Pages/Subreaddit/container.tsx
Due: deploy-client

dev environment changes
  client/package.json
  client/src/Configs/api.ts
  client/src/Configs/environment.ts
  server/Dockerfile
Due: deploy-client, prod-hosting

exapanded post page setup
  client/src/Components/PostCard/container.tsx
  client/src/Components/Skeletons/PostSkeleton.tsx
  client/src/Configs/api.ts
  client/src/Configs/environment.ts
  client/src/Pages/ExpandedPost/container.tsx
  client/src/Pages/ExpandedPost/index.tsx
  client/src/Pages/ExpandedPost/styles.ts
  client/src/Pages/index.ts
  client/src/Routes/index.tsx
Due: deploy-client

comment box and style changes
  client/src/Pages/ExpandedPost/container.tsx
  client/src/Pages/ExpandedPost/styles.ts
  client/src/Types/feedReducer.ts
Due: deploy-client

comments list
  client/src/Components/CommentCard/index.tsx
  client/src/Components/CommentCard/styles.ts
  client/src/Components/index.ts
  client/src/Pages/ExpandedPost/container.tsx
  client/src/Types/feedReducer.ts
Due: deploy-client

commenting feature complete; notification redirect changes; redux type change
  client/src/APIs/posts.ts
  client/src/Components/CommentBox/index.tsx
  client/src/Components/CommentBox/styles.ts
  client/src/Components/CreateSub/index.tsx
  client/src/Components/NotificationBadge/container.tsx
  client/src/Components/index.ts
  client/src/Configs/api.ts
  client/src/Pages/ExpandedPost/container.tsx
  client/src/Pages/ExpandedPost/styles.ts
  client/src/Redux/Saga/user.ts
  client/src/Types/userReducer.ts
Due: deploy-client

Minor ui change -- wave animation on skeletons
  client/src/Components/Skeletons/PostSkeleton.tsx
  client/src/Components/Skeletons/TrendingPostSkeleton.tsx
Due: deploy-client

deactivating user functionality on NavbarUserButton
  client/src/Components/NavbarUserButton/container.tsx
Due: deploy-client

minor bug fix-- incorrect casing in trending posts handler
  server/controllers/feed.go
Due: prod-hosting

Added a 404 page and configured redirections
  client/src/Components/TrendingPostCard/index.tsx
  client/src/Configs/routes.ts
  client/src/Pages/404/index.tsx
  client/src/Pages/ExpandedPost/container.tsx
  client/src/Pages/Subreaddit/container.tsx
  client/src/Pages/User/container.tsx
  client/src/Pages/index.ts
  client/src/Routes/index.tsx
Due: deploy-client

Search functionaly setup; wildcard route for 404
  client/src/APIs/feed.ts
  client/src/Components/Navbar/container.tsx
  client/src/Components/Navbar/styles.ts
  client/src/Components/SearchBar/index.tsx
  client/src/Components/SearchBar/styles.ts
  client/src/Pages/SearchResult/index.tsx
  client/src/Pages/index.ts
  client/src/Routes/index.tsx
  client/src/Types/api.ts
Due: deploy-client

Search response changes; Returning breads and member count
  server/controllers/common.go
  server/entities/entities.go
Due: prod-hosting

Search result page layout ui; SearchResultCard component
  client/src/Components/SearchResultCard/index.tsx
  client/src/Components/SearchResultCard/styles.ts
  client/src/Components/index.ts
  client/src/Pages/SearchResult/index.tsx
  client/src/Pages/SearchResult/styles.ts
  client/src/Types/api.ts
  client/src/Types/common.ts
Due: deploy-client

Search function removing duplicates from response
  server/controllers/common.go
  server/controllers/posts.go
Due: prod-hosting

search functionality complete
  client/src/Components/Skeletons/SearchResultSkeleton.tsx
  client/src/Components/Skeletons/index.tsx
  client/src/Pages/SearchResult/index.tsx
  client/src/Pages/SearchResult/styles.ts
Due: deploy-client

[BUG FIX] Image upload on add post
  client/src/Components/AddPost/container.tsx
  client/src/Components/AddPost/schema.ts
  client/src/Components/CreateSub/index.tsx
  client/src/Configs/api.ts
  server/controllers/notifications.go
Due: deploy-client, prod-hosting

Updating subreaddit functionality complete
  client/src/Components/Avatar/index.tsx
  client/src/Components/CreateEditSub/index.tsx
  client/src/Components/CreateEditSub/schema.ts
  client/src/Components/CreateEditSub/styles.ts
  client/src/Components/DetailCard/index.tsx
  client/src/Components/Navbar/container.tsx
  client/src/Components/index.ts
  client/src/Pages/Subreaddit/container.tsx
  client/src/Pages/User/container.tsx
  client/src/Pages/User/index.tsx
  client/src/Types/userReducer.ts
Due: deploy-client

[BUG FIX] type checking on image upload
  server/aws/aws.go
Due: prod-hosting

T&C completion
  client/src/Pages/TermsConditions/index.jsx
Due: deploy-client

edit user info functionality
  client/src/Components/DetailCard/index.tsx
  client/src/Components/EditUser/container.tsx
  client/src/Components/EditUser/index.tsx
  client/src/Components/EditUser/schema.ts
  client/src/Components/EditUser/styles.ts
  client/src/Components/NavbarUserButton/container.tsx
  client/src/Components/index.ts
Due: deploy-client

Path conditions:
  deploy-client: any of: client/**/*
  prod-hosting: any of: server/**/*
